input::placeholder {
    color: rgba(38, 71, 108, 1);
}

input:focus {
    outline: none;
}

textarea::placeholder {
    color: rgba(38, 71, 108, 1);
}

textarea:focus {
    outline: none;
}

#body-newsletter-input::placeholder {
    color: white;
}

.newsroom-block-photo {
    background-image: url('images/newsroom/newsroom-india.png');
    background-size: cover;
}

.newsroom-block-photo-layer {
    background-color: rgba(38, 71, 108, 0.53);
}


/* .mobile-menu-rectangle {
    width: 20px;
    height: 1.5px;
    background-color: white;
    border-radius: 2px;
    margin: 2px;
} */

/* .mobile-menu-rectangle-div {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
} */

/* #mobile-menu-close {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 25px;
    margin-left: 88%;
} */


/* #header {
    height: 60px;
}

#header-nav {
    width: 70%;
}

@media only screen and (min-width: 768px) {
    #header {
        height: 83px;
    }
} */